/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    font-family:'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    font-family:'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:17px;
    line-height: 1.2;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
    
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.screen {
    display: none;
}

h1 {
    margin: 0;
    padding: 5px;
    text-rendering: optimizeLegibility;
    font-weight: normal;
}
h2 {
    margin: 0;
    padding: 5px;
    text-rendering: optimizeLegibility;
    font-weight: normal;
}

button {
    margin: 5px;
    padding: 5px 0;
    background-color: transparent;
    color: #007aff;
    text-align: center;
    font-size: 14px;
    border: 1px solid #007aff;
    border-radius: 5px;
}
.buttons button {
    display: block;
    padding: 7px 2px;
    background-color: transparent;
    color: #007aff;
    text-align: center;
    font-size: 17px;
    border: none;
}
.buttons button:last-child {
    text-align: right;
}
.buttons button:first-child {
    text-align: left;
}

button:active {
    color: #f00;
}

.bottom.buttons {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #c4c4c4;
    background-color: #f5f5f5;
}
.top.buttons {
    border-bottom: 1px solid #c4c4c4;
    background-color: #f5f5f5;
}
.top.fixed.buttons {
    position: fixed;
    top: 0;
}
.buttons {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}
.buttons button {
    -webkit-flex: 1;
}
.itemlist {
    margin: 0;
    padding: 0 0 1px 0;
}
.itemlist:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
}
.item  {
    height: 104px;
    width: 104px;
    margin: 2px 0 0 2px;
    float: left;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
}
.item .image {
    width: 200%;
    margin-left: -50%;
    text-align: center;
    height: 100%;
}
.item .button {
    display: block;
    margin-left: -50%;
    text-align: center;
    height: 100%;
    vertical-align: center;
}
.item img {
    height: 100%;
    vertical-align: bottom;

}
